/*------------------------------------------------Main styles---------------------------------------------------------*/
header {
  border-bottom: 1px solid rgba(99,99,99,.4);
}
#wrapper #main_logo {
  width: 5%;
  height: 5%;
  margin: 1%;
}
#wrapper #main_name {
  display: inline-block;
}
footer {
  border-top: 1px solid rgba(99,99,99,.4);
  padding: 2%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#copyright {
  text-align: center;
  color: #7a7a7a;
  padding: 0;
  margin: 0;
}
/*------------------------------------------------Authorization-------------------------------------------------------*/
#autoris_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}
#for_box {
  box-shadow: 0 0 120px rgba(0,0,0,.45);
}
#autoris_form #user_name, #user_pass {
  margin: 1% 0;
}
#autoris_form #form_title {
  text-align: center;
  color: #7a7a7a;
  font-size: 1.1em;
}